#landing-page {
	max-width: 1024px;
	margin: auto;

	.top {
		width: 900px;
		margin: 0 auto 150px auto;

		h3 {
			display: block;
			font-size: 40px;
			text-align: center;
			margin-top: 65px;
			margin-bottom: 70px;
		}

		.kanye {
			width: 430px;
			height: 430px;
			border-radius: 430px;
			background-image: url('/assets/img/kanye.jpg');
			background-size: 100%;
			margin: 0 auto 26px auto;
		}

		h1 {
			text-align: center;
			font-size: 95px;
			border-bottom: 1px solid black;
			margin: 0;

			span {
				display: inline-block;
				font-family: futura;
				transform: translateY(15px);
			}
		}
	}

	.center {
		text-align: center;
		margin-bottom: 100px;

		p {
			font-size: 40px;
			margin: 0 0 150px 0;
			text-align: left;
		}

		a {
			font-size: 24px;
			text-decoration: none;
			color: black;
			padding-bottom: 4px;
			border-bottom: 1px solid #009b81;
		}

		span {
			display: block;
			font-size: 24px;
			margin-top: 120px;
		}
	}

	.bottom {
		text-align: center;
		margin-bottom: 200px;

		span {
			font-size: 24px;
			text-decoration: none;
			color: black;
			padding-bottom: 8px;
			border-bottom: 1px solid #009b81;
			cursor: pointer;
		}

		#textbox {
			display: block;
			width: 640px;
			height: 180px;
			margin: 100px auto 0 auto;
			font-family: 'whoismono';
			font-size: 20px;
			line-height: 38px;
			background-image: linear-gradient(white, white 36px, black 36px, black 38px, white 38px);
			background-size: 100% 38px;
			text-align: left;
			overflow: hidden;

			&:focus {
				outline: none;
			}
		}

	}
}